#csk {
    border: 2px solid #0056b3;
    border-radius: 10px;
    background: linear-gradient(135deg, #f9d423, #ffbb33);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    color: #0056b3;
}

#csk .teamlogo img {
    width: 125px;
    height: 110px;
    border: 0px solid #0056b3;
}


#csk .teamtwo button {
    background-color: #0056b3;
}

#csk .teamtwo {
    background-color: transparent;
}


#csk .teamthree {
    border: 2px solid #0056b3;
}

#csk .teamthree th {
    background-color: #ffc107;
    color: #0056b3;
}

#csk .teamthree td:nth-child(1) {
    color: #0056b3;

}

#csk .teamthree td:nth-child(2) {
    color: #ffc107;
}